<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Bnak_Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>1</servlet-name>
    <servlet-class>Bnk_app.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>1</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>2</servlet-name>
    <servlet-class>Bnk_app.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>2</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>3</servlet-name>
    <servlet-class>Bnk_app.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>3</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>4</servlet-name>
    <servlet-class>Bnk_app.For_getting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>4</servlet-name>
    <url-pattern>/For_getting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>5</servlet-name>
    <servlet-class>Bnk_app.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>5</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>6</servlet-name>
    <servlet-class>Bnk_app.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>6</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>7</servlet-name>
    <servlet-class>Bnk_app.Del_Up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>7</servlet-name>
    <url-pattern>/Del_Up</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>